# Field-Level Inference Configuration
# Based on benchmark-field-level paper (arXiv:2504.20130) MCLMC section

# SLURM configuration for NERSC Perlmutter
slurm:
  job_name: jointanalysis
  account: desi
  qos: regular
  constraint: gpu
  nodes: 1
  gpus: 4
  time: "11:00:00"

# Model configuration
model:
  cell_size: 15.625    # Mpc/h
  box_shape: [1000.0, 1000.0, 2000.0]  # Mpc/h [Lx, Ly, Lz]
  galaxies_enabled: true  # Set to false for CMB-only runs
  lightcone: true
  a_obs: null
  curved_sky: true
  evolution: lpt # lpt or nbody
  lpt_order: 2
  gxy_density: 0.0005 # LRG DESI gxy density : 0.0005
  # los: null  # Disable RSD (comment out to enable RSD)

# CMB lensing configuration
cmb_lensing:
  enabled: true
  z_source: 1100.0
  cmb_noise_nell: "/global/homes/j/jhawla/thesis-desi-cmb-fli/data/N_L_kk_act_dr6_lensing_v1_baseline.txt"
  cmb_noise_scaling: 1.0  # Artificial scaling factor (0.01 = divide N_l by 100)
  full_los_correction: true
  high_z_mode: taylor # Options: exact, fixed, taylor

# Truth parameters
truth_params:
  Omega_m: 0.3
  sigma8: 0.8
  # Lagrangian biases
  b1: 1.2
  b2: 0.0
  bs2: 0.0
  bn2: 0.0

# Prior parameters (latents)
latents:
  Omega_m:
    loc: 0.3
    scale: 0.15
    scale_fid: 0.05
    loc_fid: 0.26
    low: 0.10
    high: 0.60
  sigma8:
    loc: 0.8
    scale: 0.15
    scale_fid: 0.04
    loc_fid: 0.74
    low: 0.50
    high: 1.10
  b1:
    loc: 1.2
    scale: 0.7
    scale_fid: 0.04
    loc_fid: 0.9
    low: 0.5
    high: 4.0
  b2:
    loc: 0.0
    scale: 2.0
    scale_fid: 0.7
    loc_fid: -0.5
    low: -5.0
    high: 5.0
  bs2:
    loc: 0.0
    scale: 2.0
    scale_fid: 0.7
    loc_fid: 0.6
    low: -5.0
    high: 5.0
  bn2:
    loc: 0.0
    scale: 2.0
    scale_fid: 0.3
    loc_fid: -0.5
    low: -5.0
    high: 5.0

# MCMC configuration
mcmc:
  num_warmup: 8192

  # Sampling
  num_samples: 500
  num_batches: 13
  num_chains: 4

  save_large_fields: false

  mclmc:
    desired_energy_var: 0.0000005 # Value which work well for realistic runs : 0.0000005
    diagonal_preconditioning: true
    thinning: 20

# Random seed
seed: 412
